nav {
    width: 100%;
    overflow: hidden;
    background-color:cornsilk;
    padding: 20px;
}

nav > ul {
    list-style-type: none;
}

nav > ul > li {
    float: left;
}

nav > ul > li > a {
    color: black;
    display: block;
    padding: 30px;
    border-color: red;
    border-style: solid;
    border-width: 2px;
    border-radius: 25%;
}

nav ul a:focus {
    color: red;
    border-color: blue;
}

nav ul a:hover {
    color: yellow;
    border-color: blue;
}